@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Lora&display=swap');
body {
    font-family: 'Lora';
    line-height: 1.4;
    background-color: #ccccff;
    width: 500px;
    margin: auto;
}

form {
    background: rgb(147, 5, 5, 0.2);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
}

.form-inputs {
    display: block;
    width: 90%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#dropdown {
    display: block;
    width: 95.5%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-headings {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.submit-button {
    width: 95%;
    padding: 0.75rem;
    background: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

#textarea {
    width: 93%
}

@media only screen and(max-width:800px) {
    form {
        width: 65%;
        height: auto;
    }
}